*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210829/pngtree-nature-landscape-with-purple-sky-and-mountain-illustration-image_773300.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

h1 {
  text-align: center;
  padding-left: 100px;
  padding-bottom: 20px;
}

a {
  color: rgb(34, 195, 249);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container h1{
    position: relative;
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #752BEA;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container h2{
    position: relative;
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 4px solid #752BEA;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container label{
    text-align: left;
    color: #dedeea;
    font-size: 14px;
}
.container form input{
    width: calc(100% - 20px);
    padding:  10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #752BEA;
    color: #fff;
    font-size: 14px;
}
.container form button{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color:#752BEA;
    font-size: 18px;
    color: #fafafa;
    border-radius: 20px;
}
